/********************* GENERICHE ************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.row {
    width: 100%;
    display: flex;
}

.bg-color-white {
    background-color: white;
}

.colorToClick {
    background-color: #E9EBEB;
}

.dNone {
    display: none;
}

.dFlex {
    display: flex;
}

.topGreen {
    background-color: #009688;
    height: 15vh;
    width: 100%;
}

.backGrey {
    background-color: #DCDBD2;
    height: 85vh;
    width: 100%;
}

.bigContainer {
    height: 90vh;
    margin: auto;
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
}

.userContainer {
    height: 60px;
    padding: 10px;
    background-color: #EAEAEA;
}


/******************* LEFT SIDE *********************/

.userNameContainer {
    width: 385px;
    height: 850px;
}


.borderRight {
    border-right: 0.5px solid #B1B1B1;
}

.myImg {
    width: 40px;
    border-radius: 50%;
}

.userContainer .fa-solid {
    color: #B1B1B1;
    font-size: 18px;
}

.bgCian {
    background-color: #8EDAFC;
    height: 70px;
}

.bgCian .fa-solid {
    color: #8EDAFC;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
}

.bgCian a {
    color: #B1B1B1;
}

.bgWhite {
    background-color: white;
    height: 50px;
}

.bgWhite input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bgWhite span {
    width: 15%;
    text-align: center;
    color: #B1B1B1;
    padding: 4px;
    border: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.containerContacts {
    height: calc(100% - 70px - 60px - 50px);
    /* Altezza rimanente meno l'altezza di userContainer */
    background-color: white;
    overflow-y: scroll;
    box-sizing: border-box;
}

.lastMessage {
    color: #CCD4D1;
    font-size: 0.7rem;
}


/******************************  RIGHT SIDE  **************************/

.userChatContainer {
    width: calc(100% - 385px);
    height: 850px;
}

.uDates {
    font-size: 0.7rem;
    color: #B1B1B1;
}


.chatContainerBg {
    height: 720px;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
  

.lowContainer {
    height: calc(100% - 720px - 60px);
    background-color: #F3EEEA;
}

.bgGreenChat {
    background-color: #D5F9BA;
    border-radius: 6px;
}

.bgWhiteChat {
    background-color: white;
    border-radius: 6px;
}

.timePaddings {
    padding: 0 2px 4px 16px;
}

.rowChat {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.lowContainer .fa-regular,
.lowContainer .fa-solid {
    color: #6B7376;
    font-size: 24px;
}

.lowContainer input {
    padding: 12px;
    border: none;
    border-radius: 6px;
}



